<%= form_for([:admin,@blog]) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :blog_description, :class => 'ckeditor' %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, as: :file,  id: "imgInp" %>
    <img id="blah" src="#" alt="your image" style="height: 150px; width: 200px;" />
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
    $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
    }
  }

  $("#imgInp").change(function(){
    readURL(this);
  });
  $('.ckeditor').ckeditor({
  // optional config
  });
</script>
<style type="text/css">
  video, input {
    display: block;
  }

  input {
      width: 100%;       
  }

  .info {
      background-color: aqua;            
  }

  .error {
      background-color: red;
      color: white;
  }

</style>