<p><b>Name:</b> <%= @data[:name]  %></p>
<p><b>Name:</b> <%= @data[:phone]  %></p>
<p><b>Country:</b> <%= @data[:country]  %></p>
<p><b>Email Address:</b> <%= @data[:email]  %></p>
<p><b>Message:</b> <%= @data[:message]  %></p>