
<%= social_share_button_tag("#{articles.title}") %>
<div class="col-md-3">
  <div class="share d-flex justify-content-md-right">
    <a href="#social-share" class="btn btn-default2" data-toggle="collapse"><i class="fa fa-share"></i>  Share</a>
  </div>
  <br>
  <div class="social-login-icons collapse" id="social-share">
    <%= social_share_button_tag("#{articles.title}", url: request.url) %>
  </div> 
</div>
<div>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</div>

<p>
  <strong>Title:</strong>
  <%= articles.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= articles.name %>
</p>
<h4>Review</h4>
<% Review.where(:article_id => @article.id).each do |review| %>
	<p>
	  <strong>Title:</strong>
	  <%= review.title %>
	</p>
  <% if !Like.where(:likeable_id=>review.id, :user_id=>current_user.id).present? %>
    <%= form_tag '/like', :method => 'get', remote: true do %>
      <%= hidden_field_tag "likeable_id" ,nil ,:value => review.id %>
      <p>
      <%= submit_tag "like(#{Like.where(:likeable_id=> review.id).count})", :name => nil %>
      </p>
    <% end %>
  <% else %>
    <%= form_tag '/dislike', :method => 'get', remote: true do %>
      <%= hidden_field_tag "likeable_id" ,nil ,:value => review.id %>
      <p>
        <%= submit_tag "unlike(#{Like.where(:likeable_id=> review.id).count})", :name => nil %>
      </p>
    <% end %>
  <% end %>
<% end %>
<%= form_tag '/review', :method => 'get' do %>
	<%= hidden_field_tag "article_id" ,nil, value:  @article.id %>
  <%= hidden_field_tag "user_id" ,nil, value:  current_user.id %>
	<p>
    <%= text_field_tag :title %>
    <%= submit_tag "Post", :name => nil %>
  </p> 
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
