<!-- <%#@= form_for([:admin,@user]) do |form| %>
  <%#@ if user.errors.any? %>
    <div id="error_explanation">
      <h2><%#@= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <%#@ user.errors.full_messages.each do |message| %>
        <li><%#@= message %></li>
      <%#@ end %>
      </ul>
    </div>
  <%#@ end %>

  <div class="field">
    <%#@= form.label :first_name %>
    <%#@= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%#@= form.label :last_name %>
    <%#@= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%#@= form.label :address %>
    <%#@= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <%#@= form.label :username %>
    <%#@= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%#@= form.label :email %><br />
    <%#@= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#@= form.label :password %>
    <%#@ if @minimum_password_length %>
    <em>(<%#@= @minimum_password_length %> characters minimum)</em>
    <%#@ end %><br />
    <%#@= form.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#@= form.label :password_confirmation %><br />
    <%#@= form.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%#@= form.submit %>
  </div>
<%#@ end %> -->


<div class="sb2-2-3">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp admin-form">
        <div class="inn-title">
          <h4>Add New Student Informations</h4>
          <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
        </div>
        <div class="tab-inn">
          <%= form_for([:admin,@user]) do |form| %>
            <div class="row">
              <div class="input-field col s6">
                <%= form.text_field :first_name, id: :user_first_name, class: "validate" %>
                <label class="">First name</label>
              </div>
              <div class="input-field col s6">
                <%= form.text_field :last_name, id: :user_first_name, class: "validate" %>
                <label class="">Last name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= form.text_field :phone, id: :user_first_name, class: "validate", required: true %>
                <label class="">Phone number</label>
              </div>
              <div class="input-field col s6">
                <%= form.email_field :email, id: :user_first_name, class: "validate", required: true %>
                <label class="">Email is</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= form.text_field :city, id: :user_first_name, class: "validate", required: true %>
                <label class="">City</label>
              </div>
              <div class="input-field col s6">
                <%= form.text_field :country, id: :user_first_name, class: "validate", required: true %>
                <label class="">Country</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= form.text_field :username, id: :user_username, class: "validate", required: true %>
                <label>User name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= form.password_field :password, autocomplete: "off", class: "validate" %>
                <label class="">Password</label>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
              </div>
              <div class="input-field col s6">
                <%= form.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
                <label class="">Confirm Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= form.text_field :student_id, id: :user_first_name, class: "validate", required: true %>
                <label>Student id</label>
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field col s12">
                <div class="btn admin-upload-btn">
                  <span>File</span>
                  <%= form.file_field :image, as: :file, id: :user_image%>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Profile image">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>